body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.preloader-wrapper.x-small {
    width: 22px;
    height: 22px;
}

.btn-collumn {
    width: 90px;
}

select.browser-default {
    display: inline-block;
    width: auto;
}

.select-wrapper {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.select-wrapper input.select-dropdown {
    margin-bottom: 0;
    width: 100px;

}