body, td, input { font-family: "Century Gothic", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 15px; color: #282828; }
a { color: #337ab7; }
a:hover { color: #000; }

.hr { font-size: 0.01%; border-bottom: 1px solid #ddd; }
.shadow { background: #fff; box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 1); }
.text-light { color: #fff; }
.text-shadow { text-shadow: 1px 1px 2px #222; }
.text-l { font-size: 20px; }
.text-xl { font-size: 30px; }
.text-xxl { font-size: 40px; }
.padding-10 { padding: 10px; }
.height-10 { font-size: 0.01%; height: 10px; }

.caption-1 { font-size: 24px; color: #68a834; }

.logo {  }
.logo .logo-img { margin: 25px 0 0 0; display: inline-block; vertical-align: top; }
.logo .logo-text { margin: 15px 0 0 15px; display: inline-block; }
.logo .site-name { font-size: 40px; line-height:34px; color: #ff7920; font-weight: 700; }
.logo .slogan { font-size: 18px; color: #666; }

.phones { margin: 10px 0 0 0; padding-left: 20px; }
.phones .phone { font-size: 18px; color: #999; }
.phones .phone span { color: #333; }
.phones .phone-icons { margin: 10px 0 0 0; }

.contacts { margin: 10px 0 0 0; }
.contacts .address { font-size: 18px; }
.contacts .email { font-size: 18px; margin: 5px 0 0 0; }
.contacts .search { margin: 10px -15px 0 0; }
.contacts input { background: #dd04d; }
.contacts select { background: #dd04d; }

nav { margin: 20px 0 0 0; }
nav .row { background: #66a633 linear-gradient(#b4dd72, #66a633); }
nav ul { margin: 0; padding: 0; list-style: none; }
nav li { float: left; }
nav a { padding: 15px 26px; display: inline-block; color: #000; }
nav a:hover, nav a.active { color: #fff; background: #ff7920; }

#slides { margin: 20px 0 0 0; }
#slides .carousel-caption { padding-left: 30px; padding-right: 30px; padding-top: 0; background: rgba(0, 0, 0, 0.3); }

#blocks { margin: 40px 0 0 0; }
#blocks .block { text-align: right; font-size: 20px; font-weight: 700; border-bottom: 12px solid #ff7920; margin: 0 0 15px 0; }
#blocks .block a { color: #000; }
#blocks p { font-size: 14px; color: #666; font-weight: 400; margin: 10px 0 15px 0; }
#blocks .block-callback { background: url("../img/block-callback.png") left top no-repeat; }
#blocks .block-calculate { background: url("../img/block-calculate.png") left top no-repeat; }
#blocks .block-measure { background: url("../img/block-measure.png") left top no-repeat; }
#blocks .block-delivery { background: url("../img/block-delivery.png") left top no-repeat; }

#main { margin: 20px 0 0 0; }
#main .caption-1 { position: relative; top: 20px; z-index: 1; }
.categories { position: relative; left: -28px; margin: 0 0 40px 0; }
.categories .categories-top { background: url("../img/categories-bg-top.png") left top no-repeat; width: 300px; height: 110px; }
.categories .categories-middle { background: url("../img/categories-bg.png") center center repeat-y; width: 300px; }
.categories .categories-bottom { margin-top: -80px; background: url("../img/categories-bg-bottom.png") left top no-repeat; width: 300px; height: 109px; }
.categories ul { position: relative; top: -40px; margin: 0 0 0 50px; padding: 0; list-style: none; }
.categories a { display: block; border-left: 10px solid #959595; padding-left: 10px; margin: 0 0 10px 0; color: #555; }
.categories a:hover, .categories a.active { border-left-color: #c36000; color: #c36000; }

.caption-block { background: #68a834; color: #fff; height: 30px; line-height: 30px; margin: 0 15px 15px 15px; transform: skewX(45deg); padding: 0 20px; }
.caption-block div { transform: skewX(-45deg); }
.caption-block a { display: inline-block; float: right; color: #ff0; }

.caption-block-orange { background: #ff7920; }

.caption-block-grey { background: #ebebeb; color: #6a6a6a; height: 30px; line-height: 30px; margin: 0 15px 15px 15px; padding: 0 10px; }

.products-tiles {  }
.products-tiles .product-tile { border: 1px solid #fe7920; margin: 0 0 30px 0; }
.products-tiles .img { border-bottom: 2px solid #fe7920; margin: 0 0 15px 0; }
.products-tiles .img img { width: 100%; cursor: zoom-in; }
.products-tiles .name { margin: 0 0 10px 0; text-align: center; font-size: 20px; height: 52px; overflow: hidden; text-transform: uppercase; }
.products-tiles .price { margin: 0 0 15px 0; text-align: center; font-size: 14px; }
.products-tiles .price span { color: #c36000; display: block; font-weight: 700; }
.products-tiles .btn-round { text-align: center; margin: 0 0 10px 0; }
.products-tiles .btn-round a { display: inline-block; color: #000; font-size: 12px; padding: 5px 10px; border-radius: 8px; border: 1px solid #ccc; background: #eee linear-gradient(#fff, #eee); }
.products-tiles a.more { display: block; margin: 0 0 10px 0; text-align: center; color: #000; text-decoration: underline; font-size: 12px; }

.product { margin: 0 0 50px 0; }
.product .images {}
.product .img { margin: 0 0 20px 0; }
.product .info {}
.product .material {}
.product .price-calculate { background: #ff7920; color: #fff; margin: 0 0 20px 0; }
.product .price { font-size: 30px; float: left; text-align: center; width: 70%; padding: 20px 0; }
.product .price span { display: block; font-size: 13px; }
.product .calculate { float: right; width: 25%; text-align: center; padding: 20px 0; }
.product .calculate span { font-size: 12px; margin-top: 5px; line-height: 12px; display: block; }
.product .calculate a { color: #fff; }
.product .photos { margin: 0 0 20px 0; }
.product .photo { max-width: 100px; border: 1px solid #eee; }
.product a.call-designer { display: inline-block; background: #68a834; color: #fff; font-size: 22px; padding: 10px 20px; }

.categories-list { }
.categories-list .category { border-bottom: 1px solid #ddd; padding-bottom: 15px; }
.categories-list .category:last-child { border-bottom: none; }
.categories-list img { max-width: 120px; }
.categories-list .name { font-size: 150%; }

.categories-list-line { margin: 0 0 20px 0; }

.news-list { }
.news-list .media { border-bottom: 1px solid #ddd; padding-bottom: 15px; }
.news-list .media:last-child { border-bottom: none; }
.news-list img { max-width: 120px; }
.news-list .name { font-size: 150%; }
.news-date { font-size: 90%; color: #555; margin: 30px 0; }

.articles-list { }
.articles-list .item { border-bottom: 1px solid #ddd; padding: 15px 0; }
.articles-list .item:last-child { border-bottom: none; }
.articles-list .name { font-size: 150%; }

footer { background: #68a834; margin: 100px 0 0 0; }
footer .copyright { padding: 20px 0; }
footer ul { margin: 30px 0; padding: 0; list-style: none; }
footer li { float: left; }
footer a { padding: 15px 26px; display: inline-block; color: #000; }
footer a:hover, footer a.active { color: #fff; background: #ff7920; }

/* -------------------- Responsive classes ------------------- */

/* mobile small - less than 480 */
@media (max-width: 479px) {
    .logo-row { text-align: center; }
    .logo .site-name { text-align: left; }
    .contacts { text-align: center; }
    #blocks .block { margin-bottom: 0; }
    #blocks .col-sm-6 { margin-bottom: 30px; padding: 10px; background: #eee; }
}

/* mobile - 480 and up */
@media (min-width: 480px) and (max-width: 767px) {
    .logo-row { text-align: center; }
    .logo .site-name { text-align: left; }
    .contacts { text-align: center; }
    #blocks .block { margin-bottom: 0; }
    #blocks .col-sm-6 { margin-bottom: 30px; padding: 10px; background: #eee; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .logo .logo-img { width: 75px; }
    .logo .site-name { font-size: 34px; }
    .logo .slogan { font-size: 15px; }
    .phones { text-align: right; }
    .phones .phone { font-size: 15px; }
    .contacts { margin: 5px 0 0 0; }
    .contacts .address { font-size: 14px; }
    .contacts .email { font-size: 14px; }
    .contacts .search { margin: 5px -15px 0 0; }
    nav ul { text-align: center; }
    nav a { padding: 13px 13.5px; }
    #blocks .block { text-align: right; font-size: 16px; font-weight: 700; border-bottom: 8px solid #ff7920; }
    #blocks p { margin: 25px 0 10px 0; }
    footer a { padding: 15px 13px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .logo .logo-img { width: 75px; }
    .logo .site-name { font-size: 34px; }
    .logo .slogan { font-size: 15px; }
    .phones .phone { font-size: 15px; }
    nav a { padding: 13px 13.5px; }
    #blocks .block { text-align: right; font-size: 16px; font-weight: 700; border-bottom: 8px solid #ff7920; }
    #blocks p { margin: 25px 0 10px 0; }
    footer a { padding: 15px 13px; }
}